<div ng-repeat="article in articles">
  <p class="content__sub-title">{{ article.title }}</p><br>

  <p class="content__text" ng-repeat="paragraph in article.text">{{ paragraph.text }}
    <ul class="content__list">
      <li ng-repeat="paragraphList in paragraph['list']">{{ paragraphList }}</li>
    </ul>
  </p><br>

  <img class="content__img" ng-if="article.imgUrl && article.imgUrl.length == 1"
       ng-src="{{ articleImgPath }}{{ article.imgUrl[0] }}" alt="img">


  <div class="slider" ng-if="article.imgUrl && article.imgUrl.length > 1">
    <div class="slider-for">
      <div class="slider-for__box" ng-repeat="articleImg in article.imgUrl">
        <img class="slider-for__img" ng-src="{{ articleImgPath }}{{ articleImg }}" alt="img">
      </div>
    </div>

    <div class="slider-nav">
      <div class="slider-nav__box" ng-repeat="articleImg in article.imgUrl">
        <img class="slider-nav__img" ng-src="{{ articleImgPath }}{{ articleImg }}" alt="img">
      </div>
    </div>
  </div>

</div>