<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2537.375505162675!2d30.589199800000003!3d50.508579600000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d1a8ab1249cd%3A0x5df307ac9251714b!2z0LLRg9C7LiDQntC90L7RgNC1INC00LUg0JHQsNC70YzQt9Cw0LrQsCwgMjIsINCa0LjRl9CyLCDQvNGW0YHRgtC-INCa0LjRl9Cy!5e0!3m2!1suk!2sua!4v1421100124078"
    width="600" height="450" frameborder="0" style="border:0"></iframe><br><br>
<p class="content__sub-title">Адреса: &nbsp;&nbsp;&nbsp;<span class="content__sub-title--comments">ул. Оноре де Бальзака, 22, Київ, Україна</span></p><br>
<p class="content__sub-title">Наші телефони: &nbsp;&nbsp;&nbsp;<span class="content__sub-title--comments">8-044-547-72-79, 8-044-534-43-32</span></p><br>
<p class="content__sub-title">E-mail: &nbsp;&nbsp;&nbsp;<span class="content__sub-title--comments">zemlyaki_pripyat@ukr.net.</span></p><br>

