$wightTextColor: aliceblue;
$wightBack: #dcdcdc;
$greyLight: #a79e9f;
$grey: #807c7f;
$borderColor: #686669;
$scrollColor: #2a282b;
$black: black;
$textShadow: 0 1px 3px #000000;
$textShadowHead: 1px 1px 5px #000000;
$boxShadowChecked: inset 0 0 30px 6px rgba(0,0,0,0.75);
$boxShadowHover:inset 0 0 10px 1px rgba(0,0,0,0.75);
$boxShadow: 0 0 28px 2px rgba(0,0,0,0.75);
$boxShadowInset: inset 0 0 28px 2px rgba(0,0,0,0.75);
$boxShadowWrapper: 0 0 28px 2px rgba(0,0,0,0.75);
$imgShadow: 0 0 13px 6px rgba(0,0,0,0.76);
$imgShadowInset: Inset 0 0 13px 6px rgba(0,0,0,0.76);

