.content {
  background-color: $wightBack;
  padding: 30px 20px;
  overflow: hidden;
  flex: 1 0 auto;
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
  &__title {
    padding: 20px 0;
    font: {
      family: $font;
      size: 1.5em;
      weight: bold;
    }
    @media print {
      font: {
        family: $font;
        size: 1em;
        weight: bold;
      }
    }
  }
  &__sub-title {
    font: {
      family: $font;
      size: 1em;
      weight: bold;
    }
    &--comments {
      font: {
        family: $font;
        size: 1em;
        weight: 500;
      }
    }
  }
  &__text {
    text-indent: 1.5em;
  }
  &__list {
    padding-left: 40px;
  }
  &__clear-list {
    list-style: none;
  }
  &__num-list {
    margin-left: 40px;
  }
  &__img {
    display: block;
    margin: 20px auto;
    width: 80%;
    -webkit-box-shadow: $imgShadow;
    -moz-box-shadow: $imgShadow;
    box-shadow: $imgShadow;
    @include media-s {
      width: 400px;
    }
  }
}
iframe{
  width: 100%;
}
