.language-list {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  &__item {
    list-style: none;
  }
  &__link {
    display: flex;
    height: 40px;
    width: 42px;
    background: url("../img/sprite-icon.png");
    background-size: cover;
    &--ru {
      background-position-x: -42px;
    }
    &--usa {
      background-position-x: -85px;
    }
    &--vk {
      background-position: - 170px;
    }
    &--fb {
      background-position: -212px;
    }
    &--print {
      display: none;
      background-position-x: -127px;
      @include media-s {
        display: flex;
      }
    }
  }
  @media print{
    display: none;
  }
}
