.nav {
  background-color: $grey;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $grey;
    @include media-s {
      flex-flow: row wrap;
      align-content: stretch;
    }
  }
  &__item {
    width: 100%;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: $borderColor;
    list-style: none;
    outline: none;
    &:last-child {
      border-bottom: 1px solid $borderColor;
      @include media-s {
        border-bottom: none;
      }
    }
    @include media-s {
      width: auto;
      flex-grow: 1;
    }
    @include media-l {
      flex-wrap: nowrap;
    }
  }
  &__link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: $wightTextColor;
    text-shadow: $textShadow;
    font: {
      family: $font;
      size: 1.2em;
    }
    background: rgba(105, 104, 102, 1);
    background: -moz-linear-gradient(top, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    background: -o-linear-gradient(top, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    background: -ms-linear-gradient(top, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    background: linear-gradient(to bottom, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696866', endColorstr='#a89fa0', GradientType=0);
    @include media-s {
      flex: 1 auto;
    }
    @include media-l {
      padding: 10px 0;
    }
    &--checked {
      -webkit-box-shadow: $boxShadowChecked;
      -moz-box-shadow: $boxShadowChecked;
      box-shadow: $boxShadowChecked;
    }
    &:hover {
      -webkit-box-shadow: $boxShadowHover;
      -moz-box-shadow: $boxShadowHover;
      box-shadow: $boxShadowHover;
    }
  }
  @media print {
    display: none;
  }
}
