<!DOCTYPE html>
<html lang="ua" ng-app="zemlyakiApp">
<head>
    <meta charset="UTF-8">
    <title>Земляки</title>
    <meta name="keywords" content="земляки чорнобильська катастрофи ЧАЕС чернобіль громадська організація благодійність инваліди Чернобыль котострофа авария ">
    <meta name="description" content="Благодійна організація, яка допомагає інвалідам, ліквідаторам, вдовам, дітям-інвалідам, евакуйованим з чорнобильської зони">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

    //= htmlPartials/js.html

</head>
<body>
<div class="wrapper" ng-controller="ContentCtrl">

    //= htmlPartials/header.html

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><button class="nav__link nav__link--checked" ng-click="goToGeneral()">Головна</button></li>
            <li class="nav__item"><button class="nav__link" ng-click="goToActivity()">Діяльність</button></li>
            <li class="nav__item"><button class="nav__link" ng-click="goToCooperation()">Співпраця</button></li>
            <li class="nav__item"><button class="nav__link" ng-click="goToNews()">Новини</button></li>
            <li class="nav__item"><button class="nav__link">Контакти</button></li>
        </ul>
    </nav>

    <div class="content">
        <div ng-repeat="article in articles">
            <p class="content__sub-title">{{article.title}}</p><br>
            <p class="content__text" ng-repeat="paragraph in article.text">{{paragraph.text}}<br>
                <ul class="content__list" ng-show="paragraph.list.length && paragraph.list.length > 0">
                    <li ng-repeat="paragraphList in paragraph.list">{{paragraphList}}</li>
                </ul>
            </p><br>

            <img class="content__img" ng-show="article.imgUrl && article.imgUrl.length === 1"
                  src="{{articleImgPath}}{{article.imgUrl[0]}}" alt="img">


            <div class="slider" ng-show="article.imgUrl && article.imgUrl.length > 1">
                <div class="slider-for">
                    <div class="slider-for__box" ng-repeat="articleImg in article.imgUrl">
                        <img class="slider-for__img" src="{{articleImgPath}}{{articleImg}}" alt="img">
                    </div>
                </div>

                <div class="slider-nav">
                    <div class="slider-nav__box" ng-repeat="articleImg in article.imgUrl">
                        <img class="slider-nav__img" src="{{articleImgPath}}{{articleImg}}" alt="img">
                    </div>
                </div>
            </div>

        </div>
    </div>

    //=    htmlPartials/footer.html

</div>
</body>
</html>
